@model TheSongList.Models.Entities.Song
@inject MetadataService service

@{
    ViewData["Title"] = Model.Name;
    var info = await service.GetTrackInfo(Model);
}

<div class="jumbotron bg-dark text-light" style="@(string.IsNullOrEmpty(info?.Image) ? string.Empty : $"background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ), url('{info.Image}')")">
    <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.Artist.Id" class="h3 mb-0 text-white">@Html.DisplayFor(m => m.Artist.Name)</a>
    <h1 class="display-3">@Html.DisplayFor(m => m.Name)</h1>
    @if (!string.IsNullOrEmpty(info?.AlbumName) || info.Duration.HasValue && info.Duration.Value > TimeSpan.MinValue)
    {
        <p class="h6">
            @if (!string.IsNullOrEmpty(info?.AlbumName))
            {
                <span>@info.AlbumName</span>
                if (info.Duration.HasValue && info.Duration.Value > TimeSpan.MinValue)
                {
                    <span>
                        -
                    </span>
                }
            }
            @if (info.Duration.HasValue && info.Duration.Value > TimeSpan.MinValue)
            {
                <span>@info.Duration.Value.ToString(@"m\:ss")</span>
            }
        </p>
    }
    @if (info.Tags != null && info.Tags.Any())
    {
        <div class="flex flex-row">
            @foreach (var t in info.Tags)
            {
                <span class="badge badge-pill badge-light text-capitalize">@t</span>
            }
        </div>
    }
    <div class="mt-5">
        <a class="btn btn-sm btn-outline-light" asp-action="Index">
            <i class="fas fa-chevron-left mr-1"></i>
            Back to List
        </a>
        <a class="btn btn-sm btn-outline-light" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fas fa-edit mr-1"></i>
            Edit
        </a>
        <a class="btn btn-sm btn-outline-light" asp-action="Delete" asp-route-id="@Model.Id">
            <i class="fas fa-trash mr-1"></i>
            Delete
        </a>
    </div>
</div>

<vc:related-episodes song-id="Model.Id"></vc:related-episodes>