@inject SearchService search

@{
    ViewData["Title"] = "Index";
    string query = Context.Request.Query["query"].ToString();
    int currentPage = int.TryParse(Context.Request.Query["page"], out var i) ? i : 1;
    bool descending = Context.Request.Query["direction"].ToString() == "desc";
    string orderPropertyName = Context.Request.Query["order"].ToString();
    System.Linq.Expressions.Expression<Func<Song, object>> order;
    switch (orderPropertyName)
    {
        case "artist":
            order = s => s.Artist.Name;
            break;
        case "era":
            order = s => s.Era.SortOrder;
            break;
        default:
            order = s => s.Name;
            break;
    }

    var results = await search.FindSongs(query, currentPage, order, descending);
    var dummy = new Song();
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => dummy.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => dummy.Era)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in results.Data)
        {
            <tr style="color: @(!string.IsNullOrEmpty(item.Era?.Color) ? item.Era.Color : "black")">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Era.Label)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
