@model TheSongList.Models.Entities.Episode

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Episode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EpisodeNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EpisodeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AirDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProdCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProdCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
