@model Stats

@{
    ViewData["Title"] = "Home Page";
}

<div class="px-3 py-5 my-5 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">The Song List</h1>
    <blockquote class="blockquote">
        <p class="mb-0">That's a lotta songs!</p>
        <footer class="blockquote-footer">Phil Swift for <cite title="The Flex World">Flex Seal</cite></footer>
    </blockquote>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Songs</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h1 class="card-title pricing-card-title">
                    @Model.Songs
                    <small class="text-muted">Added</small>
                </h1>
                @if (Model.NewestSong != null)
                {
                    <div class="mt-3 mb-4 d-flex flex-column align-items-center">
                        <span class="lead">The latest song added is</span>
                        <span>@Model.NewestSong?.Name</span>
                        @if (Model.NewestSong.Artist != null)
                        {
                            <small>by @Model.NewestSong?.Artist.Name</small>
                        }
                    </div>
                    <a asp-controller="Songs" asp-action="Details" asp-route-id="@Model.NewestSong?.Id" class="btn btn-lg btn-block btn-primary">See @Model.NewestSong?.Name</a>
                }
                else
                {
                    <a asp-controller="Songs" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">See Songs</a>
                }
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Artists</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h1 class="card-title pricing-card-title">
                    @Model.Artists
                    <small class="text-muted">Added</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        Average of
                        <strong>@(((float)Model.Songs / (float)Model.Artists).ToString("n2"))</strong> songs per artist
                    </li>
                    @if (Model.MaxArtist != null)
                    {
                        <li class="mt-2 pt-2 border-top">
                            The most popular artist is
                            <strong>
                                @Model.MaxArtist?.Item?.Name
                            </strong>
                        </li>
                        <li>
                            with
                            <strong>
                                @Model.MaxArtist?.Count
                            </strong>songs
                        </li>
                    }
                </ul>
                @if (Model.MaxArtist != null)
                {
                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.MaxArtist?.Item?.Id" class="btn btn-lg btn-block btn-primary">See @Model.MaxArtist?.Item?.Name</a>
                }
                else
                {
                    <a asp-controller="Artists" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">See Artists</a>
                }
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Eras</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
                <h1 class="card-title pricing-card-title">@Model.Eras <small class="text-muted">Listed</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    @if (Model.Eras > 0)
                    {
                        <li>
                            Average of
                            <strong>@(((float)Model.Songs / (float)Model.Eras).ToString("n2"))</strong> songs per era
                        </li>
                    }
                    @if (Model.MaxEra != null)
                    {
                        <li class="mt-2 pt-2 border-top">
                            The most common era is
                            <strong style="color: @(!string.IsNullOrEmpty(Model.MaxEra?.Item?.Color) ? Model.MaxEra.Item.Color : "black")">
                                @Model.MaxEra?.Item?.Label
                            </strong>
                        </li>
                        <li>
                            with
                            <strong>
                                @Model.MaxEra?.Count
                            </strong>songs
                        </li>
                    }
                </ul>
                @if (Model.MaxEra != null)
                {
                    <a asp-controller="Eras" asp-action="Details" asp-route-id="@Model.MaxEra?.Item?.Id" class="btn btn-lg btn-block btn-primary">See @Model.MaxEra?.Item?.Label</a>
                }
                else
                {
                    <a asp-controller="Eras" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">See Eras</a>
                }
            </div>
        </div>
    </div>
</div>