@model DetailWithSongs<Artist>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detail.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail.Name)
        </dd>
    </dl>
</div>
@{
    var songObj = new Song();
}
<div>
    <h4>Songs - @Model.Songs.Count()</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => songObj.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => songObj.Era)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Songs)
            {
                <tr style="color: @(!string.IsNullOrEmpty(item.Era?.Color) ? item.Era.Color : "black")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Era.Label)
                    </td>
                    <td>
                        <a asp-controller="Songs" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Songs" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Songs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Detail.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
