@model DetailWithSongs<Era>

@{
    ViewData["Title"] = "Details";
}
<div class="jumbotron bg-dark text-light bg-img-fade" style="@($"background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ), linear-gradient({Model.Detail.Color}, {Model.Detail.Color})")">
    <h1 class="display-3">@Html.DisplayFor(m => m.Detail.Label)</h1>
    <div class="mt-5">
        <a class="btn btn-sm btn-outline-light" asp-action="Index">
            <i class="fas fa-chevron-left mr-1"></i>
            Back to List
        </a>
        <a class="btn btn-sm btn-outline-light" asp-action="Edit" asp-route-id="@Model.Detail.Id">
            <i class="fas fa-edit mr-1"></i>
            Edit
        </a>
        <a class="btn btn-sm btn-outline-light" asp-action="Delete" asp-route-id="@Model.Detail.Id">
            <i class="fas fa-trash mr-1"></i>
            Delete
        </a>
    </div>
</div>
<div>
    <h5 class="mt-4 mb-2">Songs - @Model.Songs.Count()</h5>
    <partial name="_SongList_Artist" model="Model.Songs" />
</div>