@model IEnumerable<SumPair<Era>>

@{
    ViewData["Title"] = "Eras";
    var maxSongs = Model.Max(p => p.Count);

    float getPercentage(SumPair<Era> i) => maxSongs > 0 ? (float)i.Count * 100 / maxSongs : 0;
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Eras</h2>
    <a class="btn btn-outline-primary my-3" asp-action="Create">
        <i class="fas fa-plus mr-2"></i>
        Create New
    </a>
</div>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Item.Id" class="list-group-item list-group-item-action position-relative">
            <span>
                @Html.DisplayFor(modelItem => item.Item.Label)
                <span class="badge badge-pill badge-primary ml-1"
                      style="background-color: @(!string.IsNullOrEmpty(item.Item.Color) ? item.Item.Color : "black")">
                    @Html.DisplayFor(modelItem => item.Count)
                </span>
            </span>
            <span class="position-absolute h-100 opacity-10 corner-tl animate-grow-x"
                  style="width: @getPercentage(item)%; background-color: @(!string.IsNullOrEmpty(item.Item.Color) ? item.Item.Color : "black")"></span>
        </a>
    }
</div>
