@model IEnumerable<SumPair<Era>>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    var eraObj = new Era();
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => eraObj.Label)
            </th>
            <th>
                Songs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="color: @(!string.IsNullOrEmpty(item.Item.Color) ? item.Item.Color : "black")">
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
